.product {
  display: flex;
  flex-wrap: wrap;

  > div {
    width: 50%;
  }

  &__img {
    background-color: #f8f4f4;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f8f4f4;
    align-items: center;

    h1 {
      width: 30%;
    }

    p {
      width: 50%;
    }
  }
}
